@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #101621;
  scroll-behavior: smooth;
  overflow-x: hidden;
}




/* Hide default scrollbar in Webkit browsers */
.sccr::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar height */
}

.sccr::-webkit-scrollbar-track {
  background: rgba(45, 45, 45, 0.2);
  border-radius: 4px;
}

.sccr::-webkit-scrollbar-thumb {
  background-color: rgba(83, 14, 209, 0.6);
  border-radius: 4px;
}



